*
{
    margin: 0px;
    font-family: "Inter", sans-serif;
}

.h1 p{
  font-family: 'Gotu', sans-serif;
  font-size: 25px;

}
.tophead
{
    background-color: #5d7261;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    color: white;
}
.tophead div{
    display: flex;
    justify-content: space-evenly;
}
.tophead div p{
    padding: 0px 10px 0px 10px;
    font-size: 13px;
}
.top1 li::marker{
  margin-left: 20px;
}
.top1
{
    margin-right: 400px;
}
.top2
{
    display: flex;
    justify-content: space-evenly;
}
.tophead div a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 13px;
}
.header{
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.link {
    text-decoration: none;
    color: #5d7261;
    padding: 0px 17px 0px 17px;
    font-size: 13px;
}
.h3 span
{
    padding: 0px 17px 0px 17px;
    color: #5d7261;
    cursor: pointer;

}
.top3{
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

/* *{
    margin: 10px 6px 6px 6px;
    font-family: 'Gotu', sans-serif;
} */

.dashboard{
    background-color: #5d7261;
    margin: 20px 20px 20px 20px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    
    color: #F1F4EA;
}
.dashboard h2{
  position: relative;
  top: 20px;
  left: 40px;
  font-size: 30px;
  font-family: 'Gotu', sans-serif;
}
.dashboard h1{
  position: relative;
  top: 20px;
  left: 40px;
  font-size: 30px;
  font-family: 'Gotu', sans-serif;
}
.dash2{
    background-color: #5d7261;
    width: 200px;
    height: 540px;
    border-radius: 5px;
    margin-left: 20px;
}
.dash2 button{
    position: relative;
    top: 45px;
    left: 8px;
    padding: 5px 20px 5px 20px;
    background: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    color: #F1F4EA;
}
.dash1{
    display: flex;
}
.dash3{
    background-color: #F1F4EA;
    width: 1276px;
    border-radius: 5px;
    margin-left: 20px;
}
.dash4{
    display: flex;
    justify-content: space-between;
}
.dash4 button{
    background-color: #F4F1EA;
    border: none;
    color: #5d7261;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    right: 20px;

}
.dash4 h3{
    position: relative;
    top: 25px;
    right: 35px;
}
.link1{
    color: #F1F4EA;

}
.uploadproduct{
  position: relative;
  top: 30px;
  left: 250px;
}
.uploadproduct input{
  padding: 10px 250px 10px 10px;
  align-items: center;
}
.upload{
  font-family: 'Gotu', sans-serif;
  position: relative;
  left: 350px;

}
.uploadproduct button{
  padding: 10px 30px 10px 30px;
  position: relative;
  top: 13px;
  left: 170px;
  background-color: #5d7261;
  color: #F4F1EA;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#category{
  position: relative;
  left: 200px;
}
#tags{
  position: relative;
  left: 175px;

}
#category-1{
  position: relative;
  left: 205px;
}

#tags-1{
  position: relative;
  left: 220px;

}
#file{
  position: relative;
  left: 120px;
}

.admin{
    background-color: #F1F4EA;
    width: 100%;
    height: 550px;
    
}
.input input{
    padding: 18px 270px 18px 30px;
    border: none;
    border-radius: 3px;
}

.input input:hover{
    outline: none;
}
.input{
    margin-top: 130px;
}
.input button{
    padding: 18px 216px 18px 216px;
    border: none;
    background-color:#5d7261 ;
    color: #F4F1EA;
    border-radius: 3px;
    cursor: pointer;

}

.display-button{
  padding: 10px;
    border: none;
    background-color: #F1F4EA;
    color: #5d7261;
    border-radius: 3px;
    cursor: pointer;

}
.admin p{
    position: relative;
    top: 90px;
    color: #737373;
}
.admin h1{
    position: relative;
    top: 70px;
    font-size: 40px;
    font-family: 'Gotu', sans-serif;
    font-weight: 400;
    color: #383838;
}
.input1 h3{
    position: relative;
    right: 170px;
    top: 20px;
    font-size: 15px;
    font-weight: 100;
}
.input1 h4{
    position: relative;
    left: 170px;
    top: 5px;
    font-size: 15px;
    font-weight: 100;
}
.home1{
    height: 80vh;
    background-color: #F4F1EA;
    display: flex;
    justify-content: space-around;
}
.homeimage{
    width: 60%;
    border-radius: 5px;
    position: relative;
    top: 90px;
    left: 120px;
}
.home2part{
    position: relative;
    top: 90px;
    right: 80px;
}
.home2part h6{
    position: relative;
    bottom: 20px;
    font-size: 20px;
}
.home2part p{
    position: relative;
    top: 20px;
    
}
.home2part h1{
    font-family: 'Gotu', sans-serif;
    font-size: 40px;
    font-weight: 200;
}
.home3{
    width: 100%;
    height: 500px;
    background-color: #F4F1EA;
}
.home3 h1{
    font-family: 'Gotu', sans-serif;
    font-size:42px;
    line-height: 1.3;
    letter-spacing: -1px;
    font-weight: 200;
    position: relative;
    top: 120px;
}
.home3 button{
    position: relative;
    top: 150px;
    padding: 18px 50px 18px 50px;
    border: none;
    background-color:#5d7261 ;
    color: #F4F1EA;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
}
:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
  }
  
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1120px) {
    :root {
      --h2-font-size: 1.5rem;
      --small-font-size: .875rem;
    }
  }
  
  /*=============== BASE ===============*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /*=============== CARD ===============*/
  .container {
    display: inline-flex;
    position: relative;
    top: 100px;
    flex-wrap: wrap;
    left: 50px;
    
  }
  
  .card__container {
    display: flex;
    row-gap: 3.5rem;
    justify-content: space-evenly;
    margin: 30px;
    }
  
  .card__article {
    position: relative;
    overflow: hidden;

  }
  
  .card__img {
    width: 250px;
    height: 250px;
    border-radius: 0.4rem;
  }
  
  .card__data {
    width: 200px;
    background-color: var(--container-color);
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
  }
  
  .card__description {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: .25rem;
   
  }
  
  .card__title {
    font-size: 20px;
    font-weight: 300;
    color: var(--title-color);
    margin-bottom: .75rem;
  }
  
  .card__button {
    text-decoration: none;
    font-size: var(--small-font-size);
    font-weight: 500;
    color: #5d7261;
    padding: 10px;
    background-color: #5d7261;
    color: #F1F4EA;
    border: none;
    
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  /* Naming animations in hover */
  .card__article:hover .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
  }
  
  .card__article:hover {
    animation: remove-overflow 2s forwards;
  }
  
  .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
  }
  
  .card__article:not(:hover) .card__data {
    animation: remove-data 1s forwards;
  }
  
  /* Card animation */
  @keyframes show-data {
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(-7rem);
    }
  }
  
  @keyframes remove-overflow {
    to {
      overflow: initial;
    }
  }
  
  @keyframes remove-data {
    0% {
      transform: translateY(-7rem);
    }
    50% {
      transform: translateY(-10rem);
    }
    100% {
      transform: translateY(.5rem);
    }
  }
  
  @keyframes show-overflow {
    0% {
      overflow: initial;
      pointer-events: none;
    }
    50% {
      overflow: hidden;
    }
  }

  .product-loving h1{
    font-family: 'Gotu', sans-serif;
    font-size: 3rem;
    font-weight: 200;
    position: relative;
    left: 80px;
    top: 60px;


  }
  .product-loving{
    width: 100%;
    height: 600px;
    background-color: #F4F1EA;
  }

  .our-belief{
    background-color: #F4F1EA;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
  }
  .img3{
    height: 300px;
    border-radius: 3px;
    position: relative;
    top: 180px;
    left: 220px;
  }
  .img4{
    height: 300px;
    border-radius: 3px;
    position: relative;
    top: 50px;
  }

  .img6{
    height: 300px;
    border-radius: 3px;
    position: relative;
    top: 50px;
    right: 60px;

  }
  .img5{
    height: 300px;
    border-radius: 3px;
    position: relative;
    top: 120px;
  }
  .our-belief-1{
    position: relative;
    top: 150px;
    left: 20px;
}
.our-belief-1 button{
    padding: 18px 50px 18px 50px ;
    background-color: #5d7261;
    border: none;
    color: #F1F4EA;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    position: relative;
    top: 130px;
}
.our-belief-1 p{
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  position: relative;
  right: 40px;
  top: 90px;
}
.our-belief-1 h1{
  font-family: 'Gotu', sans-serif;
  position: relative;
  top: 70px;
  right: 10px;
  font-size: 45px;
  color: #383838;
  line-height: 1.3;
  letter-spacing: -1px;
  font-weight: 200;

}
.our-belief-1 h3{
  position: relative;
  top: 60px;
  left: 95px;
  font-size: 15px;
  font-weight: 100;
}

  .footer{
    background-color: #F4F1ea;
    width: 100%;
    height: 350px;
    
  }

  .footer1{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    position: relative;
    top: 60px;
  

  }
  .footer1 div li{
    text-decoration: none;
    padding: 8px;
  }
  .footer1 div h4{
    position: relative;
    left: 30px;
    bottom: 5px;
  }
  .footer1 div h3{
    font-family: 'Gotu', sans-serif;
    font-size: 25px;
    font-weight: 200;
    position: relative;
    bottom: 15px;
  }
  .footer1 div input {
    padding: 12px 200px 12px 10px;
    position: relative;
    top: 25px;
  }
  .footer2{
    display: flex;
    justify-content: space-between;
  }
  .footer2 div h4{
    position: relative;
    top: 20px;
    left: 80px;
    font-weight: 200;

  }
  .icon-1{
    position: relative;
    top: 15px;
    right: 200px;
  }
  .icon-2{
    position: relative;
    top: 15px;
    right: 180px;
  }
  .icon-3{
    position: relative;
    top: 15px;
    right: 165px;
  }
  .icon-4{
    position: relative;
    top: 15px;
    right: 150px;
  }

.matt-1{

  font-family: 'Gotu', sans-serif;
  text-align: center;
  margin-top: 50px;
  
}
.matt-2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 100px;
}
.matt-2 div img{
  width: 80%;
}
.matt-2 div h2{
  font-family: 'Gotu', sans-serif;
  position: relative;
  top: 30px;
  text-align: center;
  right: 50px;

}
.cartCount
{
  padding: 5px;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 10px;
  width: 10px;
  font-weight: bold;
  color: #5d7261;
  margin-left: 5px;
  text-decoration: none;
  position: relative;
  right: 58px;
  bottom: 25px;
}
.regi-btn{
  background: transparent;
  text-decoration: underline;
  position: relative;
  top: 20px;
  right: 170px;
  cursor: pointer;
}

.help{
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}
.help-1{
  display: flex;
  justify-content: space-around;
}
.help-1 img{
  height: 230px;
  padding: 5px;
  position: relative;
  top: 100px;
  border-radius: 5px;
}
.help-2{
  position: relative;
  top: 110px;
  
}
.help-2 p{
  padding: 7px;
  position: relative;
  top: 20px;
  font-size: 16px;
}
.help-2 h3{
  position: relative;
  left: 10px;
  font-size: 30px;
  font-family: 'Gotu', sans-serif;
}
.cartitem{
  display: flex;
  justify-content: space-around;
  height: 400px;
  margin-top: 100px;

}
.cartitem-2{
  border: 1px solid black;
  height: 280px;
  width: 275px;
  border: none;
  box-shadow: 0px 0px 10px 2px black;
}
.table td{
  padding: 25px;

}
.pillow-1{
  display: flex;
  justify-content: flex-start;
}
.pillow-1 img{
  height: 300px;
  
}
.pillow-2 {
  background-color: #5d7261;
  color: #F1F4EA;
  width: 1030px;
}
.pillow-2 h2{
  font-family: 'Gotu', sans-serif;
  font-size: 40px;
  font-weight: 200;
  position: relative;
  left: 80px;
  top: 90px;
}
.pillow-2 h3{
  font-family: 'Gotu', sans-serif;
  font-size: 40px;  
  font-weight: 200;
  position: relative;
  left: 80px;
  top: 100px;
}
.pillow-2 p{
  position: relative;
  top: 60px;
  left: 82px;
}
.sheet-1{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 80px;
}
.sheet-1 img{
  width: 600px;
  border-radius: 10px;
}
.sheet-2{
  position: relative;
  top: 50px;

}
.sheet-2 h2{
  color: #5d7261;
  font-family: 'Gotu', sans-serif;
  font-size: 35px;  
  font-weight: 200;
  margin-bottom: 15px;
}
.sheet-2 p {
  font-size: 15px;
}
.sheet-3 {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 40px;
}
.sheet-about{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.sheet-about img{
  width: 600px;
  border-radius: 10px;
}
.sheet-about-1 h2{
  font-family: 'Gotu', sans-serif;
  font-size: 35px;  
  font-weight: 200;
  position: relative;
  top: 40px;

}
.sheet-about-1 p{
   position: relative;
   top: 80px;

}
.contact h2{
  position: relative;
  bottom: 150px;
  left: 600px;
  font-size: 40px;
  font-weight: 100;
  font-family: 'Gotu', sans-serif;
  color: white;
}
.contact p{
  position: relative;
  bottom: 170px;
  left: 640px;
  font-size: 20px;
  font-weight: 100;
  color: white;
}
.contact-1{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}
.contact-1 input{
  padding: 20px 350px 20px 10px;
  border: none;
  border-radius: 5px;
}
.contact-1 textarea{
  width: 540px;
  height: 200px;
  border: none;
  padding: 20px 0px 0px 10px;
}

.contact-1 button{
  background-color: #5d7261;
  color: #F4F1EA;
  cursor: pointer;
  border: none;
  padding: 15px 35px 15px 35px;
  border-radius:5px;

}
.contact-1 h3{
  position: relative;
  top: 50px;
  font-size: 18px;
}
.contact-1 h4{
  position: relative;
  top: 90px;
  font-size: 18px;
}

.net1{
  margin-top: 70px;
}
.net1 button{
  padding: 5px 75px 5px 75px ;
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
  background-color: #5d7261;
  border: none;
  color: white;
  border-radius: 25px;
}
.net1 div{
  position: relative;
  bottom: 10px;
  left: 15px;
}
.cart{
  position: relative;
  top: 50px;
  left: 60px;
}
.remove{
  padding: 6px;
  background-color: #5d7261;
  color: #F4F1EA;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.empty
{
    padding: 240px;
    margin-left: 250px;
    font-size: 20px;
}
.checkout{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 50px;
}
.checkout input{
  padding: 15px 350px 15px 10px;
  position: relative;
  right: 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.pay2{
  font-family: 'Gotu', sans-serif;
  font-weight: 300;
  position: relative;
  top: 60px;
  right: 380px;

}

.pay1{
  font-family: 'Gotu', sans-serif;
  font-weight: 300;
  font-size: 45px;
  position: relative;
  top: 30px;
}
.checkout-1{
  box-shadow: 0px 0px 10px 2px black;
  padding: 10px;
 
}
.checkout-1 h2{
  font-family: 'Gotu', sans-serif;
  position: relative;
  top: 20px;
}
.checkout-1 button{
  position: relative;
  top: 100px;
  padding: 10px 20px 10px 20px;
  background-color: #5d7261;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: #F4F1EA;
  cursor: pointer;
  border-radius: 3px;
}
.checkout-1 h1{
  position: relative;
  top: 50px;
}



